// Colors

@color-grey-xxxxxl: #f4f4f4;
@color-grey-xxxxl: #e8e8e8;
@color-grey-xxxl: #eee;
@color-grey-xxl: #ddd;
@color-grey-xl: #ccc;
@color-grey-l: #aaa;
@color-grey-m: #999;
@color-grey-d: #666;
@color-grey-xd: #333;

@color-cost: #78b1db;
@color-cost-l: #ecf6fd;
@color-onset: #8e8ebd;
@color-onset-l: #ecebff;
@color-frequency: #8cb164;
@color-frequency-l: #f0ffe0;
@color-side-effects: #cd773b;
@color-side-effects-l: #f5e8de;
@color-risks: #cab22d;
@color-risks-l: #f7f4dc;

html {
	-webkit-font-smoothing: antialiased;
}

.header {
	width: 100%;
	position: fixed;
	margin: 0 auto;
	padding: 1em 0;
	background: white;
	box-shadow: 0 1px 1px rgba(0,0,0,.3);
	z-index: 11;
	h1 {
		color: @color-grey-m;
		font-size: 1.7em;
		font-weight: lighter;
		margin: 0;
		padding-left: .5em;
	}
	.buttons {
		text-align: center;

		.btn {
			display: inline-block;
		}
		.btn ~ .btn {
			margin-left: .25em;
		}
	}
}

.ptda {
	padding: 5em 0 9em 0;

	.cards {
		position: relative;
		padding: 0 2em;

		.ptda-card {
			vertical-align: text-top;
			max-width: 720px;
		}
	}
	.options {

		.header{
			h4 {
				font-size: 1em;
				font-weight: 200;
				color: @color-grey-l;
			}
		}
		h4 {
			font-size: 1.4em;
			font-weight: 700;
			margin: .5em 0 1em 0;
		}
		h5 {
			margin: 0;
			color: @color-grey-l;
			font-size: 11px;
		}
		.option {
			margin-top: 2em;

			&.disabled {
				* {
					color: @color-grey-l !important;
				}
				.name {
					h2,
					h3 {
						text-decoration: line-through;
					}
				}
			}

			.name {
				padding-top: .5em;
				padding-bottom: .4em;
				color: #427199;
				background: #f4f4f4;
				border-bottom: 1px solid #c2cbd7;

				h2,
				h3 {
					font-size: 1.7em;
					margin: 0;
				}
				h2 {
					font-weight: bolder;
				}
				h3 {
					font-weight: 400;
				}
				small {
					color: @color-grey-l;
					font-size: 14px;
				}
			}
			.side-effects,
			.risks {
				h4 {
					font-size: 14px;
				}
				p {
					margin: 0 0 .4em 0;
				}
			}
			.risks {
				.safe {
					color: #478061;
				}
				.unsure {
					color: #999;
				}
				.unsafe {
					color: #e7956c;
				}
			}
		}
	}
}

.mini {
	font-size: 1em;

	.name {
		color: white;
		padding: .4em 0;
		background: @color-grey-xd;

		h2,
		h3 {
			font-size: 1.3em;
			line-height: 1.1em;
			margin: 0;
		}
		h2 {
			font-weight: bolder;
		}
		h3 {
			font-weight: 400;
		}
		small {
			color: @color-grey-l;
			font-size: 1em;
		}
	}
	h3 {
		font-weight: 300;
		font-size: 1em;
		color: #444;
		margin: .6em 0 .2em 0;
	}
	h4 {
		font-size: 1em;
		margin: 0;
	}
	.side-effects {
		h4 {
			span ~ span {
				&:before {
					content: ', ';
				}
			}
		}
	}
	.risks {
		.safe {
			color: #478061;
		}
		.unsure {
			color: #999;
		}
		.unsafe {
			color: #e7956c;
		}
	}
	p {
		margin-bottom: .1em;
	}
}

.ptda-card {
	margin: 3em auto 3em auto;
	border-radius: 24px;
	width: 720px;
	background: white;
	box-shadow: 0 4px 12px rgba(0,0,0,.15);
	cursor: pointer;
	user-select: none !important;

	table {
		width: 100%;
		table-layout: fixed;

		h2 {
			border-radius: 24px 24px 0 0;
			margin: 0;
			padding: .5em .5em;
			text-align: center;
			font-size: 2.4em;
			font-weight: lighter;
			color: white;
			text-align: center;
		}
		h3 {
			margin: 1.2em .5em;
			text-align: center;
			font-size: 1.3em;
		}
		h4 {
			font-size: .9em;
			font-weight: bolder;
		}
		h5 {
			font-size: 1.4em;
			font-weight: bolder;
		}
		td {
			width: 180px;
			height: 180px;
			padding: .5em;
			text-align: center;
			vertical-align: top;
			transition: background .07s ease-in-out;

			h4,
			h5 {
				transition: color .07s ease-in-out;
			}
			&.disabled {
				background: #f2f2f2 !important;

				h4,
				h5 {
					text-decoration: line-through;
					color: @color-grey-xl;
				}
			}
			&.selected {
				color: white !important;
				background: @color-grey-xd !important;
			}
		}
		tr {
			&.dosage-form {
				td {
					height: auto;
					border-radius: 0;
					background: none !important;
				}
			}
			&:last-child {
				td {
					&:first-child {
						border-bottom-left-radius: 24px;
					}
					&:last-child {
						border-bottom-right-radius: 24px;
					}
				}
			}
		}
	}

	&.cost {
		h2 {
			background: @color-cost;
		}
		table {
			tr ~ tr {
				border-top: 1px solid white;
			}
			td {
				&:nth-child(odd) {
					color: white;
					background: @color-cost;
				}
				&:nth-child(even) {
					color: @color-cost;
					background: @color-cost-l;
				}
			}
			tr {
				&.dosage-form {
					td {
						color: @color-cost;
					}
				}
			}
		}
	}
	&.onset {
		h2 {
			background: @color-onset;
		}
		table {
			tr ~ tr {
				border-top: 1px solid white;
			}
			td {
				&:nth-child(odd) {
					color: white;
					background: @color-onset;
				}
				&:nth-child(even) {
					color: @color-onset;
					background: @color-onset-l;
				}
			}
			tr {
				&.dosage-form {
					td {
						color: @color-onset;
					}
				}
			}
		}
	}
	&.frequency {
		h2 {
			background: @color-frequency;
		}
		table {
			tr ~ tr {
				border-top: 1px solid white;
			}
			td {
				h5 {
					font-size: 1.2em;
				}
				&:nth-child(odd) {
					color: white;
					background: @color-frequency;
				}
				&:nth-child(even) {
					color: @color-frequency;
					background: @color-frequency-l;
				}
			}
			tr {
				&.dosage-form {
					td {
						color: @color-frequency;
					}
				}
			}
		}
	}
	&.risks {
		h2 {
			background: @color-risks;
		}
		table {
			tr ~ tr {
				border-top: 1px solid white;
			}
			td {
				h5 {
					font-size: 1.2em;

					p {
						margin: 0 0 .1em 0;
					}
					.unsure {
						border-bottom: 1px dotted;

						&:after {
							content: '?';
						}
					}
					.unsafe {
						text-decoration: line-through;
					}
				}
				&:nth-child(odd) {
					color: white;
					background: @color-risks;
				}
				&:nth-child(even) {
					color: @color-risks;
					background: @color-risks-l;
				}
			}
			tr {
				&.dosage-form {
					td {
						color: @color-risks;
					}
				}
			}
		}
	}
	&.side-effects {
		h2 {
			background: @color-side-effects;
		}
		table {
			tr ~ tr {
				border-top: 1px solid white;
			}
			td {
				h5 {
					font-size: 1em;
					font-weight: 300;

					ul {
						list-style-type: none;
						margin: 0;
						padding: 0;

						li {
							margin: 0;
							padding: 0;
						}
					}
				}
				&:nth-child(odd) {
					color: white;
					background: @color-side-effects;
				}
				&:nth-child(even) {
					color: @color-side-effects;
					background: @color-side-effects-l;
				}
			}
			tr {
				&.dosage-form {
					td {
						color: @color-side-effects;
					}
				}
			}
		}
	}
}

// Adverse events

.adverse-events {
	.header {
		position: relative;
		margin-bottom: 2em;
	}
}