@color-grey-xl: #ccc;
@color-grey-l: #aaa;

.ptda {

	h1 {
		color: @color-grey-xl;
		font-weight: lighter;
		margin: 1em 0 2em 0;
	}
	.options {

		h4 {
			font-size: 1.4em;
			font-weight: 700;
			margin: .5em 0 1em 0;
		}
		h5 {
			margin: 0;
			color: @color-grey-l;
			font-size: 11px;
		}
		.option {
			margin-top: 3em;

			.name {
				padding-top: .5em;
				padding-bottom: .4em;
				background: #fff6f4;
				border-bottom: 1px solid #ffd3ae;

				h2,
				h3 {
					font-size: 1.7em;
					margin: 0;
				}
				h2 {
					font-weight: bolder;
				}
				small {
					color: @color-grey-l;
				}
			}
			.side-effects,
			.risks {
				h4 {
					font-size: 15px;
				}
				p {
					margin: 0 0 .3em 0;
				}
			}
			.risks {
				.safe {
					color: green;
				}
				.unsure {
					color: #777;
				}
				.unsafe {
					color: red;
				}
			}
		}
	}
}