//Core variables and mixins

@import "./bower_components/bootstrap/less/variables.less";
@import "./bower_components/bootstrap/less/mixins.less";

// Reset

@import "./bower_components/bootstrap/less/normalize.less";
@import "./bower_components/bootstrap/less/print.less";

// Core CSS

@import "./bower_components/bootstrap/less/scaffolding.less";
@import "./bower_components/bootstrap/less/type.less";
@import "./bower_components/bootstrap/less/code.less";
@import "./bower_components/bootstrap/less/grid.less";
@import "./bower_components/bootstrap/less/tables.less";
@import "./bower_components/bootstrap/less/forms.less";
@import "./bower_components/bootstrap/less/buttons.less";

// Components

@import "./bower_components/bootstrap/less/component-animations.less";
@import "./bower_components/bootstrap/less/dropdowns.less";
@import "./bower_components/bootstrap/less/button-groups.less";
@import "./bower_components/bootstrap/less/input-groups.less";
@import "./bower_components/bootstrap/less/navs.less";
@import "./bower_components/bootstrap/less/navbar.less";
@import "./bower_components/bootstrap/less/breadcrumbs.less";
@import "./bower_components/bootstrap/less/pagination.less";
@import "./bower_components/bootstrap/less/pager.less";
@import "./bower_components/bootstrap/less/labels.less";
@import "./bower_components/bootstrap/less/badges.less";
@import "./bower_components/bootstrap/less/jumbotron.less";
@import "./bower_components/bootstrap/less/thumbnails.less";
@import "./bower_components/bootstrap/less/alerts.less";
@import "./bower_components/bootstrap/less/progress-bars.less";
@import "./bower_components/bootstrap/less/media.less";
@import "./bower_components/bootstrap/less/list-group.less";
@import "./bower_components/bootstrap/less/panels.less";
@import "./bower_components/bootstrap/less/wells.less";
@import "./bower_components/bootstrap/less/close.less";
@import "./bower_components/bootstrap/less/glyphicons.less";

// Components w/ JavaScript

@import "./bower_components/bootstrap/less/modals.less";
@import "./bower_components/bootstrap/less/tooltip.less";
@import "./bower_components/bootstrap/less/popovers.less";
@import "./bower_components/bootstrap/less/carousel.less";

// Utility classes

@import "./bower_components/bootstrap/less/utilities.less";
@import "./bower_components/bootstrap/less/responsive-utilities.less";

// Animate.css

@import (less) "animate.min.less";

// Fonts

@import (less) "../fonts/ss-pika.css";
@import url(https://fonts.googleapis.com/css?family=Roboto:300,300italic,500,500italic);
// @import url(http://fonts.googleapis.com/css?family=Open+Sans:300,300italic,400,400italic,600,600italic);

// Local CSS files

@import "mixins.less";
@import "visualizations.less";

@import "navigator.less";
@import "processing.less";
@import "ptda.less";

// Broad site styles

html {
	-webkit-font-smoothing: antialiased;

	a {
		color: @color-blue;
		cursor: pointer;

		&:hover {
			color: @color-blue;
		}
	}
}

body {
  // font-family: "Open Sans";
  font-family: "Roboto"
}

// Site-wide navigation

.site-wide-nav {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	max-height: 2em;
	line-height: 2em;
	padding: 0 15px;
	color: white;
	background: @color-grey-d;
	text-align: right;

	> a,
	> span {
		color: white;
		font-size: 1.3em;
		font-weight: 300;
		display: inline;
		margin-right: .3em;
	}
	a {
		&:hover {
			text-decoration: none;
			color: inherit;
			text-shadow: 0 0 7px rgba(255,255,255,.5);
		}
	}
	.fa {
		margin-bottom: -.1em;
	}
}

// Header

.header {
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	padding: 1em 0 .9em 0;
	background: white;
	z-index: 11;
	.shadow-l;

	h1 {
		font-size: 1.7em;
		font-weight: 300;
		margin: 0;
		padding-left: .5em;
    .animation-hue-text;
	}

	// @media (max-width: @screen-xs-max) {
	// 	position: absolute;
	// }
}

// Experiment / index

.experiment {
  .container;
  padding-bottom: 11em;

  .skeleton {
  	.make-sm-column(8);
		.make-sm-column-offset(2);
  }
  > section,
  > nav {
  	.make-row();

  	> section,
  	> h1,
  	> h2 {
  		.skeleton;
  	}
  }

  > nav {
  	> h2 {
  		margin-top: 0;
  		margin-bottom: 0;
  		padding-top: .5em;
  		padding-bottom: 2.5em;
  		font-size: 1.3em;
	    border-top: 3px solid @color-grey-xxxxl;

	    &:hover {
	      background: @color-grey-xxxxxxl;
	    }
	    > p {
	    	color: @color-grey-m;
	    	margin: .5em 0 0 0;
	    	font-weight: 300;
	    	font-size: .8em;
	    }
	  }
	}
  h1 {
  	margin: 0 0 4em 0;
  	font-size: 2em;
  	color: @color-grey-l;
  	font-weight: 200;
  	border-top: 1em solid @color-grey-xxxl;

  	> p {
  		margin-top: 1.5em;
  		font-weight: normal;
  		color: @color-grey-m;
  		font-size: .5em;
  	}
  }
  p {
  	margin: 0;
		line-height: 1.3;

		&.emphasize {
			font-size: 1.3em;
			color: @color-grey-xd;
		}
		&.pull-quote {
			margin-top: 3em;
			margin-bottom: 1em;
			color: @color-orange;
			font-weight: bolder;
			font-size: 1.5em;
			line-height: 1.1;
		}
	}
	p + p,
	p + ul,
	p + ol {
		margin-top: .85em;
	}
	.description {
		background: @color-grey-xxxxxxl;
		padding-top: 1em;
		padding-bottom: 1em;
		padding-right: 15%;
		margin-bottom: 2em;
		color: @color-grey-d;
	}
  img {
  	border-top: 1px solid @color-grey-xxl;
  	border-bottom: 1px solid @color-grey-xxl;
    display: block;
    margin: 1.5em inherit 3em inherit;
  }
}

// Preference controls

.preference-controls {
  cursor: pointer;
  user-select: none;
  position: fixed;
  left: -240px;
  width: 300px;
  height: 100%;
  padding-top: 8em;
  text-align: center;
  background: white;
  z-index: 6;
  transition: .25s ease-out;
  .shadow-l-right;

  .animated;
  .bounceInLeft;

  &.open {
    left: 0;
    transform: translateX(0);
  }
  &.closed {
    left: -300px;
    transform: translateX(0);
  }

  h2 {
    position: relative;
    margin: 0 -30px 1px 0;
    padding: 8px 5px 10px 15px;
    border-radius: 0 30px 30px 0;
    font-size: 1.4em;
    font-weight: 200;
    text-align: left;
    background: @color-orange;
    color: white;
    .shadow-l-right;

    > strong {
      font-size: 3em;
      position: absolute;
      right: 10px;
      top: -43%;
    }
  }
  > section {
    line-height: 1.2;
    padding: 5px 15px 15px 15px;
    color: @color-grey-d;
    font-weight: bold;
    text-align: left;
    background: @color-grey-xxxxxl;

    > .description {
      color: @color-grey-l;
      font-weight: lighter;
      display: block;
    }
  }
  > .preference,
  > section > .option {
    color: @color-blue;

    @media (min-width: @screen-md-max) {
      &:hover {
        color: @color-orange;
        background: @color-grey-xxxxxxl;

        > .description {
          color: @color-orange;
        }
      }
    }
    &:active {
      background: @color-grey-xxxxl;
    }
    &.active {
      color: white;
      box-shadow: none;
      background: @color-orange;

      > .description {
        color: rgba(255,255,255,.7);
      }
      &:active {
        background: @color-orange-d;
      }
    }
  }
  > section > .option {
    margin-left: -15px;
    margin-right: -15px;
    padding: .2em 15px;
    font-weight: normal;

    &:first-of-type {
      margin-top: 5px;
    }
    &.active {
      font-weight: bolder;
    }

    @media (max-width: @screen-md-max) {
      padding: .6em 15px;
    }
  }
  > section + section {
    border-top: 1px solid white;
  }
  .option + .option {
    border-top: 1px solid @color-grey-xxxxl;
  }
}

// Adverse events

.adverse-events {
	.container-fluid;

	> section {
		.make-row();

		&:first-of-type {
			> div {
				padding-top: 6em;
			}
		}
		> div {
			.make-sm-column(8);
			.make-sm-column-offset(2);
		}
	}
	.chart {
		width: 85%;
	}
}