// Mixins

// Colors

@color-grey-xxxxxxxl: #fafafa;
@color-grey-xxxxxxl: #f7f7f7;
@color-grey-xxxxxl: #f3f3f3;
@color-grey-xxxxl: #eee;
@color-grey-xxxl: #e8e8e8;
@color-grey-xxl: #ddd;
@color-grey-xl: #bbb;
@color-grey-l: #999;
@color-grey-m: #888;
@color-grey-d: #666;
@color-grey-xd: #444;
@color-grey-xxd: #333;
@color-grey-xxxd: #222;

@color-blue-l: #88AAFF;
@color-blue: #6699ff;
@color-blue-d: #2047BE;

@color-orange-l: #FEAF75;
@color-orange: #fe6939;
@color-orange-d: #e05c32;

@color-cost: #78b1db;
@color-cost-l: #ecf6fd;
@color-onset: #8e8ebd;
@color-onset-l: #ecebff;
@color-frequency: #8cb164;
@color-frequency-l: #f0ffe0;
@color-side-effects: #cd773b;
@color-side-effects-l: #f5e8de;
@color-risks: #cab22d;
@color-risks-l: #f7f4dc;

@color-ui-l: #C0A38B;
@color-ui: #A18269;

// New color

@color-base-1: @color-grey-xxxd;
@color-base-2: @color-grey-xxd;
@color-base-3: @color-grey-xd;
@color-base-4: @color-grey-m;
@color-accent-1: @color-grey-xxl;
@color-accent-2: @color-grey-xxxl;
@color-accent-3: @color-grey-xxxxl;
@color-accent-4: @color-grey-xxxxxl;
@color-link-1: @color-blue-d;
@color-link-2: @color-blue;
@color-link-3: @color-blue-l;
@color-body: white;

@font-size-1: 13px;
@font-size-2: 15px;
@font-size-3: 19px;
@font-size-4: 23px;
@font-size-5: 27px;
@font-size-6: 31px;
@font-size-7: 39px;

.small {
  font-size: @font-size-1;
}

.inline {
  display: inline;
}
.inline-block {
  display: inline-block;
}
.block {
  display: block;
}

// Padding mixins

@pad-0: 0;
@pad-1: 5px;
@pad-2: 10px;
@pad-3: 15px;
@pad-4: 30px;
@pad-5: 45px;
@pad-6: 60px;

.pad-0 {
  padding: none;
}
.pad-1 {
  padding: @pad-1;
}
.pad-2 {
  padding: @pad-2;
}
.pad-3 {
  padding: @pad-3;
}
.pad-4 {
  padding: @pad-4;
}
.pad-5 {
  padding: @pad-5;
}
.pad-6 {
  padding: @pad-6;
}
// Padding-top
.pad-t-0 {
  padding-top: none;
}
.pad-t-1 {
  padding-top: @pad-1;
}
.pad-t-2 {
  padding-top: @pad-2;
}
.pad-t-3 {
  padding-top: @pad-3;
}
.pad-t-4 {
  padding-top: @pad-4;
}
.pad-t-5 {
  padding-top: @pad-5;
}
.pad-t-6 {
  padding-top: @pad-6;
}
// Padding-right
.pad-r-0 {
  padding-right: none;
}
.pad-r-1 {
  padding-right: @pad-1;
}
.pad-r-2 {
  padding-right: @pad-2;
}
.pad-r-3 {
  padding-right: @pad-3;
}
.pad-r-4 {
  padding-right: @pad-4;
}
.pad-r-5 {
  padding-right: @pad-5;
}
.pad-r-6 {
  padding-right: @pad-6;
}
// Padding-bottom
.pad-b-0 {
  padding-bottom: none;
}
.pad-b-1 {
  padding-bottom: @pad-1;
}
.pad-b-2 {
  padding-bottom: @pad-2;
}
.pad-b-3 {
  padding-bottom: @pad-3;
}
.pad-b-4 {
  padding-bottom: @pad-4;
}
.pad-b-5 {
  padding-bottom: @pad-5;
}
.pad-b-6 {
  padding-bottom: @pad-6;
}
// Padding-left
.pad-l-0 {
  padding-left: none;
}
.pad-l-1 {
  padding-left: @pad-1;
}
.pad-l-2 {
  padding-left: @pad-2;
}
.pad-l-3 {
  padding-left: @pad-3;
}
.pad-l-4 {
  padding-left: @pad-4;
}
.pad-l-5 {
  padding-left: @pad-5;
}
.pad-l-6 {
  padding-left: @pad-6;
}


// Visual modifiers

.light {
  opacity: .6;
}
.strong {
  font-weight: bolder;
}

// Utility margins and spacing

.space-t {
  margin-top: 0.4em;
}
.space-r {
  margin-right: 0.4em;
}
.space-b {
  margin-bottom: 0.4em;
}
.space-l {
  margin-left: 0.4em;
}

// Etc.

.tiny-title {
  color: @color-grey-l;
}

.pull-tab {
  border-radius: 2px;
  border-left-width: 2px;
  border-left-style: solid;
  padding: 0 0 0 3px;
  font-size: 10px;
  margin: .5em 0;
  display: inline-block;
  overflow-x: hidden;
  cursor: pointer; 
}

// Font sizes

@font-xl: 20px;
@font-l: 16px;
@font-s: 11.5px;

// Shadows

.shadow-l {
	box-shadow: 0 1px 1px rgba(0,0,0,.3);
}
.shadow-xl {
  box-shadow: 0 1px 1px rgba(0,0,0,.1);
}
.shadow-l-right {
  box-shadow: 1px 0 1px rgba(0,0,0,.3);
}
.shadow-h-right {
  box-shadow: 3px 0 9px rgba(0,0,0,.3);
}
.shadow-m {
  box-shadow: 0 1px 4px rgba(0,0,0,.2);
}

// Animations

@-webkit-keyframes hue {
  from {
    -webkit-filter: hue-rotate(0deg);
  }
  to {
    -webkit-filter: hue-rotate(-360deg);
  }
}

.animation-hue-text {
  color: #f35626;
  background-image: -webkit-linear-gradient(92deg,#f35626,#feab3a);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-animation: hue 1440s infinite linear;
}

.animation-hue-bg {
  background: #f35626;
  background-image: -webkit-linear-gradient(92deg,#f35626,#feab3a);
  -webkit-animation: hue 1440s infinite linear;
}

// Buttons

.button {
  display: inline-block;
  padding: .5em 1.5em 1.5em .5em;
  border-radius: 2px;
  text-decoration: none;
  background: #f6f6f6;
  transition: border-color .7s ease-out,
              background-color .7s ease-out,
              color .7s ease-out,
              background .7s ease-out;
  
  &:hover {
    text-decoration: none;
    background: #efefef;
    transition: border-color .15s ease-in,
                background .15s ease-in,
                color .15s ease-in;
  }
  &.active {
    color: white;
    background: @color-blue;
    .shadow-l;
  }
}

> a {
  color: white;
  display: block;
  border-radius: 2px;
  padding: .5em .5em 1.5em .5em;
  background: @color-blue;
  word-wrap: break-word;
  .shadow-l;

  transition: box-shadow .15s ease,
              color .15s ease,
              background .15s ease;

  &:hover {
    text-decoration: none;
  }
}

&.disabled {
  > a {
    color: @color-grey-xl;
    background: none;
    .shadow-xl;
  }
}

.nav-pills {
  > li {
    margin: .25em;

    &:first-of-type {
      margin-left: 0;
    }
    &:last-of-type {
      margin-right: 0;
    }
  }
}
