// Navigator

.navigator {
	h1,
	h2 {
		margin: 0 0 .51em 0;
		max-width: 50vw;
		text-align: left;
		font-weight: lighter;
		letter-spacing: -.01em;
		line-height: 1.2;
	}
	h1 {
		color: @color-grey-xl;
	}
	h2 {
		font-size: 21px;
		color: white;
	}
	.results {
		padding: 3em 0;
		min-height: 100vh;
	}
	.adverse-events {
		> div + div {
			margin-top: 5em;
		}
	}
}

.sticky-holder {
	z-index: 5;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	// background: white;
	// .shadow-l;
}

.sticky-filter-controls {
	display: none;
	opacity: 0;
	transition: opacity 1s ease;
	background: white;

	&.stuck {
		display: block;
		opacity: 1;

		.filter-controls {
			font-size: 11px;

			h3 {
				display: none;
			}
			> section {
				display: inline-block;
				text-align: left;

				+ section {
					margin-top: 0;
					margin-left: 5px;
				}
			}
		}
	}
}

.sticky-medications {
	display: none;
	opacity: 0;
	transition: opacity 1s ease;
	background: white;

	&.stuck {
		display: block;
		opacity: 1;

		.medication-cards {
			font-size: 11px;

			h3 {
				display: none;
			}
			ul {
				display: flex;
				flex-flow: row wrap;
				align-items: stretch;

				> li {
					flex: 1;
					min-width: 120px;
					max-height: 80px;
					margin: .25em;
				}
			}

			.dosage-forms,
			.cost,
			.frequency,
			.preferences {
				display: none;
			}
		}
	}
}

.spread {
	display: table;
	width: 100%;
	height: 90vh;

	> div {
		display: table-cell;
		vertical-align: middle;
	}
}

.full-screen {
	background: #f8fcfa;
	position: relative;
	padding-bottom: 60px;

	> div {
		padding-left: 	2em;
		padding-right: 	2em;
	}
	h1 {
		color: white;
	}

	@media ( min-width: @screen-md-min ) {
		min-height: 100vh;

		> div {
			padding-left: 	10em;
			padding-right: 	10em;
		}
	}
}

.scroll-down {
	color: white;
	padding: 1em 0;
	background: @color-blue;
	position: absolute;
	bottom: 0;
	display: block;
	width: 100%;
	text-align: center;

	.ss-icon {
		font-size: 1.3em;
	}
	&:hover {
		text-decoration: none;
		color: white;
	}
}

.intro {
	background: #64606A;
}
.controls {
	background: #8C8496;
}
.medications {
	background: #64606A;
}
.results {
	background: #E0DFDE;
}





.dev {
	.drug-picker,
	.medication-list {
		font-size: @font-small;
		border-right: 5px solid @color-grey-xxxxl;
	}

	.details {
		transition: opacity .2s ease-out;
		border-right: 5px solid @color-grey-xxxxl;

		&.open {
			opacity: 1;
		}
		&.closed {
			opacity: .4;
		}
	}
}

.brief-header {
	color: @color-grey-xl;
	font-weight: bolder;
	font-size: 13px;
	padding-bottom: 1em;
	margin: 0 0 1em 0;
	border-bottom: 15px solid @color-grey-xxxl;
	line-height: 1.25;

	@media (max-width: @screen-sm-max) {
		padding-top: 2em;
		border-bottom: none;
	}

	a {
		font-weight: normal;
		color: @color-orange;
	}
}

.filter-controls {
	padding-bottom: 1em;
	border-bottom: 1px solid @color-grey-l;

	> section {
		display: block;
		text-align: left;

		+ section {
			margin-top: 5px;
		}
	}
	a.button {
		display: block;

		&.option {
			display: inline-block;

			+.option {
				margin-left: 5px;
			}
		}
	}
	.description {
		display: block;
	}
	input {
		margin-right: .25em;
	}
	.dosage-form {
		> .ss-icon {
			margin-right: 5px;
			vertical-align: text-top;
		}
	}
}

.dosage-forms {
	float: right;
	position: relative;
	margin-left: 1em;

	> .dosage-form {
		text-align: center;
		display: inline-block;
		width: 48px;
		vertical-align: text-top;
		font-size: 120%;

		> span {
			display: block;
		}

		.form-name {
			font-style: normal;
			font-size: 10px;
			line-height: 1.2;
		}

		+ .dosage-form {
			margin-left: 5px;
		}
	}
}

.medication-cards {
	padding-bottom: 1em;

	> ul {
		margin: 0;
		padding: 0;
		list-style-type: none;
		display: flex;
		flex-flow: row wrap;
		// align-items: stretch;
		// justify-content: space-between;

		> li {
			display: block;
			margin: auto;
			padding: 10px;
			
			flex: auto;
			flex-basis: 33%;
			align-self: stretch;
			
			@media (max-width: @screen-xs-max) {
				flex-basis: 100%;
			}
			@media (min-width: @screen-sm-min) and (max-width: @screen-md-max) {
				flex-basis: 50%;
			}

			> a {
				position: relative;
				line-height: 1.25;
				color: white;
				display: block;
				border-radius: 2px;
				padding: 8px 8px 24px 8px;
				background: @color-blue;
				word-wrap: break-word;
				.shadow-l;

				transition: box-shadow .15s ease,
										color .15s ease,
										background .15s ease;

				&:hover {
					text-decoration: none;
				}
			}

			&.disabled {
				> a {
					color: @color-grey-xl;
					background: none;
					.shadow-xl;
				}
			}

			.cost,
			.frequency,
			.preferences {
				padding: 4px 0;
			}
			.preferences p {
				margin: 0;
			}

			// @media (max-width: @screen-sm-max) {
			// 	display: inline-block;
			// 	vertical-align: text-top;
			// 	margin: .25em !important;

			// 	&:first-of-type {
			// 		margin-left: 0;
			// 	}
			// 	&:last-of-type {
			// 		margin-right: 0;
			// 	}
			// }
		}
	}
}


.panel {
	padding: 5em 0 0 0;
}

.tag-description {
	font-size: 1.5em;
	margin: 0;
	padding-right: 20%;
	color: @color-grey-l;
	line-height: 1.2;

	strong {
		color: @color-grey-d;
	}
}

nav.tag-navigation {

	> ul {
		padding-top: 1em;
		padding-bottom: 1em;

		> li {
			> a {
				padding: .5em 2.5em 1.5em .5em;
			  border-radius: 2px;
			  text-decoration: none;
			  background: #f6f6f6;
				transition: color .1s ease,
										border .1s ease,
										background .1s ease;

				&:hover {
					border-color: @color-blue;
					color: @color-blue;
					background: #efefef;
				}
			}
			&.active {
				> a {
					color: white;
			    background: @color-blue;
			    .shadow-l;
				}
			}
		}

		@media (max-width: @screen-xs-max) {
			> li {
				float: none;
				display: block;
				margin: 0;

				> a {
					display: block;
					padding: .1em 15px;
				}
			}
		}
	}
}