// Outcome timeline

.outcome-timeline {
	display: table;
	table-layout: fixed;
	margin-bottom: 5em;

	> section {
		display: table-row;

		> div {
			display: table-cell;
			height: 300px;

			&.moment {
				width: 300px;

				> section {
					display: table;
					table-layout: fixed;
					width: 100%;
					height: 100%;

					> div {
						display: table-cell;
						height: 100%;

						&.line {
							width: 41px;
							position: relative;

							&:before {
								content: '';
							  position: absolute;
							  left: 20px;
							  height: 100%;
							  width: 1px;
							  background: @color-grey-xl;
							}

							.bar {
								position: relative;
								width: 31px;
								margin: 0 auto;

								&:before {
									content: '';
								  position: absolute;
								  background: @color-grey-xl;
									width: 31px;
									height: 1px;
								}
							}
							.ball {
								position: relative;
								margin: 0 auto;
								width: 19px;

								&:before {
									content: '';
								  position: absolute;
								  background: @color-grey-xl;
									width: 19px;
									height: 19px;
									border-radius: 8.5px;
								}
							}
						}
						&.title,
						&.description {
							padding: 0 5px;
						}
						&.title {
							text-align: right;
						}
					}
				}
			}
			&.moment-data {
				> section {
					display: table;
					table-layout: fixed;
					width: 100%;
					height: 100%;

					> div {
						display: table-cell;
						height: 100%;
						padding: 0 .5em;
						
						+ div {
							border-left: 1px solid @color-grey-xxxxxl;
						}
					}
				}
			}
		}

		&:last-of-type {
			.moment .line:after {
				content: '';
			  position: absolute;
			  left: 20px;
			  height: 100%;
			  width: 1px;
			  background: @color-grey-xl;
			}
		}
	}

	.tag {
		.make-row();
		background: @color-grey-xxxxxxl;
		padding: 15px 3em 30px 15px;
		line-height: 1.15;
	}
	.tag-navigation {
		> ul {
			border-top: none !important;
			padding: .5em 0 1.5em 0 !important;
		}
	}
}