// Visualizations

.visualization {
  color: @color-grey-xxl;
  
  .highlight {
    color: @color-grey-l;
  }

  &.absolute {
    cursor: pointer;
    margin: 1em 0;
    font-size: 6.5pt;

    &:hover {
      .higher {
        color: black !important;
      }
      .lower {
        color: inherit !important;
      }
    }
    .ss-icon {
      transition: color .12s ease;
    }
  }
  &.grade-quality {
    cursor: pointer;

    .ss-help {
      font-size: 1.2em;
    }
  }
}