// Visualizations

.visualization {

  .highlight {
    color: @color-grey-m;
  }

  &.absolute {
    cursor: pointer;
    margin: 1em 0;
    font-size: 6.5pt;
    color: @color-grey-xxl;

    &:hover {
      color: @color-grey-xxxl;

      .highlight {
        color: @color-grey-xl;
      }
      .higher {
        color: black !important;
      }
      .lower {
        color: white !important;
        text-shadow: 0 0 4px rgb(0,0,0,.7);
      }
    }
    .ss-icon {
      transition: color .12s ease,
                  text-shadow .12s ease;
    }
  }
  &.difference {
    .ss-icon {
      vertical-align: middle;
    }
  }
  &.relative-risk-comparison,
  &.risk-relative-to-baseline,
  &.absolute-risk-comparison {
    width: 100%;
    min-height: 32em;
    position: relative;
    border: 1px solid @color-grey-xxxxxl;
    background: white;

    .chart-holder {
      width: 100%;
      position: absolute;
      bottom: 0;
    }

    ul {
      height: 12em;
      width: 80%;
      padding-bottom: 0;
      list-style-type: none;
      border-bottom: 1px solid @color-grey-d;
      position: relative;
      bottom: 0;
      left: 10%;
    }
    .item {
      position: absolute;
      bottom: 0;

      .pill {
        font-size: .9em;
        cursor: pointer;
        display: block;
        border-radius: 16px;
        font-weight: bolder;
        color: @color-grey-m;
        padding: 0 .75em .1em .75em;
        background: @color-grey-xxxl;
        transform: rotate(-45deg);
        transform-origin: left 50%;
        position: relative;
        left: -.5em;
        bottom: -.75em;
        transition: color .3s ease,
                    background .3s ease;

        + .pill {
          margin-top: 1em;
        }

        &:hover {
          color: @color-grey-xxl;
          background: @color-grey-d;
        }
        &.active {
          color: @color-grey-xxd;
          background: @color-grey-xl;
        }
      }
      .legend {
        position: absolute;
        bottom: .1em;
        left: .1em;
        right: 0;
        margin: 0 auto;
        font-weight: bolder;
        font-size: 1em;
      }
      .line {
        background: @color-grey-xxxl;
        width: 1px;
        height: 7em;
      }
    }
    .note {
      color: #F48325;
    }
    .axis-labels {
      width: 100%;
      padding-left: 10%;
      padding-right: 10%;

      .axis-label {
        float: left;
        width: 25%;

        &.right {
          position: relative;
          margin-left: 50%;
          text-align: right;
        }
      }
    }
    .icon-array {
      display: table;
      table-layout: fixed;
      width: 100%;

      > .ss-icon {
        position: relative;
        cursor: pointer;
        display: table-cell;
        text-align: right;
        color: @color-grey-xxl;
        font-size: .75em;

        > .number {
          position: absolute;
          top: -1em;
          border-radius: 50%;
          width: 1.5em;
          height: 1.5em;
          line-height: 1.5em;
          text-align: center;
          background: white;
          display: none;
          opacity: 0;
          transition: opacity .3s ease;
        }

        &.active {
          color: @color-grey-m;
        }
        &:hover {
          > .number {
            opacity: 1;
            display: block;
          }
        }
      }
    }
  }
}

// GRADE quality widget

.grade-quality {
  .pull-tab;
  color: @color-grey-xl;
  border-color: @color-grey-xl;
  white-space: nowrap;

  .ss-icon {
    display: inline-block;
    margin-top: 5px;
    letter-spacing: -.15em;
    font-size: 13px;
  }
  .ss-help {
    font-size: 1.2em;
  }
}

// Evidence source widget

.source {
  .pull-tab;
  color: @color-blue;
  border-color: @color-blue;
  
  &:hover {
    text-decoration: none;
  }
}

.intervention {
  .name {
    font-weight: bolder;
  }
}

.population {
  cursor: pointer;

  .name {
    background: @color-grey-xxxxl;
  }
  .title {
    font-weight: lighter;
  }
  .ss-icon + strong,
  .ss-icon + span {
    margin-left: .5em;
  }
}

.progress {
  margin-top: .5em;
}
.progress-bar {
  background: @color-grey-xl;

  &.better {
    background: @color-grey-l;
  }
  &.worse {
    background: @color-grey-l;
  }
}

// Outcome timeline

.outcome-timeline.vertical {
  display: table;
  table-layout: fixed;
  margin-bottom: 5em;

  > section {
    display: table-row;

    > div {
      display: table-cell;
      height: 300px;

      &.moment {
        width: 300px;

        > section {
          display: table;
          table-layout: fixed;
          width: 100%;
          height: 100%;

          > div {
            display: table-cell;
            height: 100%;

            &.line {
              width: 41px;
              position: relative;

              &:before {
                content: '';
                position: absolute;
                left: 20px;
                height: 100%;
                width: 1px;
                background: @color-grey-xl;
              }

              .bar {
                position: relative;
                width: 31px;
                margin: 0 auto;

                &:before {
                  content: '';
                  position: absolute;
                  background: @color-grey-xl;
                  width: 31px;
                  height: 1px;
                }
              }
              .ball {
                position: relative;
                margin: 0 auto;
                width: 17px;

                &:before {
                  content: '';
                  position: absolute;
                  background: @color-grey-xl;
                  width: 17px;
                  height: 17px;
                  top: 2px;
                  border-radius: 9.5px;
                }
              }
            }
            &.title,
            &.description {
              padding: 0 5px;
            }
            &.title {
              text-align: right;
            }
            &.description {
              color: @color-grey-l;
            }
          }
        }
      }
      &.moment-data {
        
        > section {
          display: table;
          table-layout: fixed;
          width: 100%;
          height: 100%;

          > div {
            display: table-cell;
            height: 100%;
            padding: 0 1em;
            word-wrap: break-word;
            
            + div {
              border-left: 1px solid @color-grey-xxxxxl;
            }
          }
        }
      }
    }

    &:last-of-type {
      .moment .line:after {
        content: '';
        position: absolute;
        left: 20px;
        height: 100%;
        width: 1px;
        background: @color-grey-xl;
      }
    }
  }
}

.outcome-timeline.horizontal {
  display: table;
  border-collapse: collapse;
  min-width: 100%;

  .t-row {
    display: table-row;
    background: @color-grey-xxxxxxxl;

    .t-cell {
      min-width: 300px;
      width: 300px;
      padding: 15px;
      display: table-cell;
      vertical-align: top;

      + .t-cell.moment-data {
        border-left: 1px dotted @color-ui-l;
      }
    }

    &:nth-child(even) {
      background: @color-grey-xxxxxl;
    }
  }
  .timeline-header {
    
    .t-cell {
      background: white;
      padding-top: 0;
      padding-bottom: 60px;
      
      + .t-cell {
        border-left: 1px dotted @color-ui-l;
      }
      .title {
        font-size: @font-l;
        color: @color-ui;
      }
      .description {
        font-size: @font-s;
        color: @color-grey-l;
      }
    }
  }
  .subject {
    line-height: 1.15;
  }
  .intervention {
    .name {
      color: @color-grey-d;
      display: inline-block;
      margin-bottom: .25em;
      font-size: @font-l;
    }
    .dosage {
      display: block;
      font-size: @font-s;
      color: @color-grey-l;
      margin-bottom: 1em;
    }
  }
}
