.ptda h1 {
  color: #cccccc;
  font-weight: lighter;
  margin: 1em 0 2em 0;
}
.ptda .options h4 {
  font-size: 1.4em;
  font-weight: 700;
  margin: .5em 0 1em 0;
}
.ptda .options h5 {
  margin: 0;
  color: #aaaaaa;
  font-size: 11px;
}
.ptda .options .option {
  margin-top: 3em;
}
.ptda .options .option .name {
  padding-top: .5em;
  padding-bottom: .4em;
  background: #fff6f4;
  border-bottom: 1px solid #ffd3ae;
}
.ptda .options .option .name h2,
.ptda .options .option .name h3 {
  font-size: 1.7em;
  margin: 0;
}
.ptda .options .option .name h2 {
  font-weight: bolder;
}
.ptda .options .option .name small {
  color: #aaaaaa;
}
.ptda .options .option .side-effects h4,
.ptda .options .option .risks h4 {
  font-size: 15px;
}
.ptda .options .option .side-effects p,
.ptda .options .option .risks p {
  margin: 0 0 .3em 0;
}
.ptda .options .option .risks .safe {
  color: green;
}
.ptda .options .option .risks .unsure {
  color: #777;
}
.ptda .options .option .risks .unsafe {
  color: red;
}
