html {
  -webkit-font-smoothing: antialiased;
}
.header {
  width: 100%;
  position: fixed;
  margin: 0 auto;
  padding: 1em 0;
  background: white;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
  z-index: 11;
}
.header h1 {
  color: #999999;
  font-size: 1.7em;
  font-weight: lighter;
  margin: 0;
  padding-left: .5em;
}
.header .buttons {
  text-align: center;
}
.header .buttons .btn {
  display: inline-block;
}
.header .buttons .btn ~ .btn {
  margin-left: .25em;
}
.ptda {
  padding: 5em 0 9em 0;
}
.ptda .cards {
  position: relative;
  padding: 0 2em;
}
.ptda .cards .ptda-card {
  vertical-align: text-top;
  max-width: 720px;
}
.ptda .options .header h4 {
  font-size: 1em;
  font-weight: 200;
  color: #aaaaaa;
}
.ptda .options h4 {
  font-size: 1.4em;
  font-weight: 700;
  margin: .5em 0 1em 0;
}
.ptda .options h5 {
  margin: 0;
  color: #aaaaaa;
  font-size: 11px;
}
.ptda .options .option {
  margin-top: 2em;
}
.ptda .options .option.disabled * {
  color: #aaaaaa !important;
}
.ptda .options .option.disabled .name h2,
.ptda .options .option.disabled .name h3 {
  text-decoration: line-through;
}
.ptda .options .option .name {
  padding-top: .5em;
  padding-bottom: .4em;
  color: #427199;
  background: #f4f4f4;
  border-bottom: 1px solid #c2cbd7;
}
.ptda .options .option .name h2,
.ptda .options .option .name h3 {
  font-size: 1.7em;
  margin: 0;
}
.ptda .options .option .name h2 {
  font-weight: bolder;
}
.ptda .options .option .name h3 {
  font-weight: 400;
}
.ptda .options .option .name small {
  color: #aaaaaa;
  font-size: 14px;
}
.ptda .options .option .side-effects h4,
.ptda .options .option .risks h4 {
  font-size: 14px;
}
.ptda .options .option .side-effects p,
.ptda .options .option .risks p {
  margin: 0 0 .4em 0;
}
.ptda .options .option .risks .safe {
  color: #478061;
}
.ptda .options .option .risks .unsure {
  color: #999;
}
.ptda .options .option .risks .unsafe {
  color: #e7956c;
}
.mini {
  font-size: 1em;
}
.mini .name {
  color: white;
  padding: .4em 0;
  background: #333333;
}
.mini .name h2,
.mini .name h3 {
  font-size: 1.3em;
  line-height: 1.1em;
  margin: 0;
}
.mini .name h2 {
  font-weight: bolder;
}
.mini .name h3 {
  font-weight: 400;
}
.mini .name small {
  color: #aaaaaa;
  font-size: 1em;
}
.mini h3 {
  font-weight: 300;
  font-size: 1em;
  color: #444;
  margin: .6em 0 .2em 0;
}
.mini h4 {
  font-size: 1em;
  margin: 0;
}
.mini .side-effects h4 span ~ span:before {
  content: ', ';
}
.mini .risks .safe {
  color: #478061;
}
.mini .risks .unsure {
  color: #999;
}
.mini .risks .unsafe {
  color: #e7956c;
}
.mini p {
  margin-bottom: .1em;
}
.ptda-card {
  margin: 3em auto 3em auto;
  border-radius: 24px;
  width: 720px;
  background: white;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  user-select: none !important;
}
.ptda-card table {
  width: 100%;
  table-layout: fixed;
}
.ptda-card table h2 {
  border-radius: 24px 24px 0 0;
  margin: 0;
  padding: .5em .5em;
  font-size: 2.4em;
  font-weight: lighter;
  color: white;
  text-align: center;
}
.ptda-card table h3 {
  margin: 1.2em .5em;
  text-align: center;
  font-size: 1.3em;
}
.ptda-card table h4 {
  font-size: .9em;
  font-weight: bolder;
}
.ptda-card table h5 {
  font-size: 1.4em;
  font-weight: bolder;
}
.ptda-card table td {
  width: 180px;
  height: 180px;
  padding: .5em;
  text-align: center;
  vertical-align: top;
  transition: background 0.07s ease-in-out;
}
.ptda-card table td h4,
.ptda-card table td h5 {
  transition: color 0.07s ease-in-out;
}
.ptda-card table td.disabled {
  background: #f2f2f2 !important;
}
.ptda-card table td.disabled h4,
.ptda-card table td.disabled h5 {
  text-decoration: line-through;
  color: #cccccc;
}
.ptda-card table td.selected {
  color: white !important;
  background: #333333 !important;
}
.ptda-card table tr.dosage-form td {
  height: auto;
  border-radius: 0;
  background: none !important;
}
.ptda-card table tr:last-child td:first-child {
  border-bottom-left-radius: 24px;
}
.ptda-card table tr:last-child td:last-child {
  border-bottom-right-radius: 24px;
}
.ptda-card.cost h2 {
  background: #78b1db;
}
.ptda-card.cost table tr ~ tr {
  border-top: 1px solid white;
}
.ptda-card.cost table td:nth-child(odd) {
  color: white;
  background: #78b1db;
}
.ptda-card.cost table td:nth-child(even) {
  color: #78b1db;
  background: #ecf6fd;
}
.ptda-card.cost table tr.dosage-form td {
  color: #78b1db;
}
.ptda-card.onset h2 {
  background: #8e8ebd;
}
.ptda-card.onset table tr ~ tr {
  border-top: 1px solid white;
}
.ptda-card.onset table td:nth-child(odd) {
  color: white;
  background: #8e8ebd;
}
.ptda-card.onset table td:nth-child(even) {
  color: #8e8ebd;
  background: #ecebff;
}
.ptda-card.onset table tr.dosage-form td {
  color: #8e8ebd;
}
.ptda-card.frequency h2 {
  background: #8cb164;
}
.ptda-card.frequency table tr ~ tr {
  border-top: 1px solid white;
}
.ptda-card.frequency table td h5 {
  font-size: 1.2em;
}
.ptda-card.frequency table td:nth-child(odd) {
  color: white;
  background: #8cb164;
}
.ptda-card.frequency table td:nth-child(even) {
  color: #8cb164;
  background: #f0ffe0;
}
.ptda-card.frequency table tr.dosage-form td {
  color: #8cb164;
}
.ptda-card.risks h2 {
  background: #cab22d;
}
.ptda-card.risks table tr ~ tr {
  border-top: 1px solid white;
}
.ptda-card.risks table td h5 {
  font-size: 1.2em;
}
.ptda-card.risks table td h5 p {
  margin: 0 0 .1em 0;
}
.ptda-card.risks table td h5 .unsure {
  border-bottom: 1px dotted;
}
.ptda-card.risks table td h5 .unsure:after {
  content: '?';
}
.ptda-card.risks table td h5 .unsafe {
  text-decoration: line-through;
}
.ptda-card.risks table td:nth-child(odd) {
  color: white;
  background: #cab22d;
}
.ptda-card.risks table td:nth-child(even) {
  color: #cab22d;
  background: #f7f4dc;
}
.ptda-card.risks table tr.dosage-form td {
  color: #cab22d;
}
.ptda-card.side-effects h2 {
  background: #cd773b;
}
.ptda-card.side-effects table tr ~ tr {
  border-top: 1px solid white;
}
.ptda-card.side-effects table td h5 {
  font-size: 1em;
  font-weight: 300;
}
.ptda-card.side-effects table td h5 ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.ptda-card.side-effects table td h5 ul li {
  margin: 0;
  padding: 0;
}
.ptda-card.side-effects table td:nth-child(odd) {
  color: white;
  background: #cd773b;
}
.ptda-card.side-effects table td:nth-child(even) {
  color: #cd773b;
  background: #f5e8de;
}
.ptda-card.side-effects table tr.dosage-form td {
  color: #cd773b;
}
