doctype html
html
  head
    title Adam Baker Independent Studies Thesis
    link(href='css/app.css', rel='stylesheet')
    link(href='/bower_components/c3/c3.min.css', rel='stylesheet')
    script(src='/bower_components/jquery/dist/jquery.min.js')
    script(src='/bower_components/d3/d3.min.js')
    script(src='/bower_components/c3/c3.min.js')
    script(src='/bower_components/bootstrap/dist/js/bootstrap.min.js')
    meta(name='robots', content='noindex, nofollow')
  body
    #app!= html
  script(src='/js/bundle.js')