doctype html
html
  head
    title Adam Baker Independent Studies Thesis
    link(href='css/app.css', rel='stylesheet')
    link(href='/bower_components/c3/c3.min.css', rel='stylesheet')
    link(href='//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css', rel='stylesheet')
    script(src='/bower_components/jquery/dist/jquery.min.js')
    script(src='/bower_components/d3/d3.min.js')
    script(src='/bower_components/c3/c3.min.js')
    script(src='/bower_components/bootstrap/dist/js/bootstrap.min.js')
    meta(name='robots', content='noindex, nofollow')
    meta(name='viewport' content='width=device-width, initial-scale=1, user-scalable=no')
  body
    #app!= html
  script(src='/js/external.js')
  script(src='/js/bundle.js')